<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Site title -->
    <title>Buntington - WordPress Theme documentation</title>
    
    <!-- Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <!-- Google webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700,800' rel='stylesheet' type='text/css'>
    
	<!-- Required stylesheets -->
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/prettify.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />

    <!-- Make BS work on IE8 -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target="#k-spy-kid">

    <section id="k-spy-kid" class="navbar navbar-inverse navbar-fixed-top"><!-- fixed top navbar start -->
    
        <div class="container">
        
            <div class="navbar-header">
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a href="#" class="navbar-brand"><strong>Buntington - WPML</strong></a>
            </div>
            
            <div class="navbar-collapse collapse">
                <ul id="page-scroll-to" class="nav navbar-nav pull-right">
                    <li class="active"><a href="#k-s-initial-setup">Initial setup</a></li>
                    <li><a href="#k-s-basic-translation">Basic translation</a></li>
                    <li><a href="#k-s-extended-translation">Extended translation</a></li>
                    <li><a href="#k-s-translating-menus">Translating Menus</a></li>
                    <li><a href="#k-s-translating-theme-texts">Translating Theme texts</a></li>
                </ul>
            </div><!--/.navbar-collapse -->
            
        </div>
        
    </section><!-- fixed top navbar end -->
    
    <section id="k-s-top" class="marged-navbar section-space30"><!-- big title start -->
    
    	<div class="container"><!-- container start -->
        
        	<div class="row"><!-- row start -->
            
            	<div class="col-lg-12">
            
                    <h2>Buntington - WPML Documentation <small class="text-danger">V1.0</small></h2>
                    <hr />
                    <p class="k-excerpt section-space30">
                    This document explains how to translate your theme copy by using WPML plugin.<br />If you have any questions that are beyond the scope of this help file, feel free to send message via my user page <a href="http://themeforest.net/user/feeleep" target="_blank" title="Contact Form">contact form</a>.
                    </p>
                
                </div>
               
           </div><!-- row end -->
           
        	<div class="row"><!-- row start -->
            
            	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mq-box">
            
					<table class="table table-hover table-bordered bg-light">
                        <tbody>
                            <tr><td><small>Created: <strong>Sep 18, 2015</strong></small></td></tr>
                            <tr><td><small>Modified: <strong>Sep 20, 2015</strong></small></td></tr>
                            <tr><td><small>Documentation Version: <strong>1.0</strong></small></td></tr>
                        </tbody>
                    </table>
                
                </div>
                
            	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            
					<table class="table table-hover table-bordered bg-light">
                        <tbody>
                            <tr><td><small>Author: <strong>Feeleep</strong></small></td></tr>
                            <tr><td><small>Theme Version: <strong>1.1</strong></small></td></tr>
                            <tr><td><small>WPML Version needed: <strong>3.2.4 +</strong></small></td></tr>
                            <tr><td><small>Contact: <a href="http://themeforest.net/user/feeleep" target="_blank" title="Contact Form"><strong>Use Contact Form</strong></a></small></td></tr>
                        </tbody>
                    </table>
                
                </div>
               
           </div><!-- row end -->
        
        </div><!-- container end -->
    
    </section><!-- big title end -->
    
    
    <section id="k-s-initial-setup" class="section-space30"><!-- start -->
    
    	<div class="container"><!-- container start -->
        
        	<div class="row"><!-- row start -->
            
                <div class="col-lg-12">
                    <h3>Initial Setup</h3>
                    <hr />
                </div>
            
            	<div class="col-lg-12">
                
                	<h4>1. Buy WPML plugin</h4>
                    
					<p>
                  
                    	First, you need to to <a href="http://wpml.org/purchase/" target="_blank">purchase a recent version of WPML</a>, including the <strong>String Translation</strong> and <strong>Translation Management</strong> modules.
                    
                    </p>
                    
                	<div class="gap30"></div>
                    
                    <h4>2. Install &amp; Activate</h4>
                    
                    <p>
                    	Install and activate the core WPML plugins (WPML Multilingual CMS, WPML String Translation, WPML Translation Management), and then other WPML plugins that may depend on them.
                    </p>
                    
                	<div class="gap30"></div>
                    
                    <h4>3. Setup WPML</h4>
                    
                    <p>
                    	Set up WPML from <strong>WPML->Languages</strong> first.<br />
                        See <a href="http://wpml.org/documentation/getting-started-guide/" target="_blank">WPML Getting Started Guide</a> for complete reference, but the initial simple three-step setup is self-explanatory, asking you to choose your default language, a set of active languages, and a language selector.
                    </p>

                </div>
            
            </div><!-- row end -->
        
        </div><!-- container end -->
    
    </section><!-- end -->
        
    
    <section id="k-s-basic-translation" class="section-space30"><!-- start -->
    
    	<div class="container"><!-- container start -->
        
        	<div class="row"><!-- row start -->
            
                <div class="col-lg-12">
                    <h3>Basic translation</h3>
                    <p class="k-excerpt">How to translate Pages, Posts and other post types?</p>
                    <hr />
                </div>
            
            	<div class="col-lg-12 clearfix">
                    
                    <p>
                    	To translate a page you need to go to WP Admin, select Pages from Dashboard and in the list you will see columns for each active language, with a pencil icon (for "edit translation") or a "+" icon (for "add translation") next to each page. Go ahead and edit or add the translated page for "Home Default".
                    </p>
                    
                    <p>
                    	Right now you just need to translate your page into the new language.
                    </p>
                    
                    <div class="gap30"></div>
                    
                    <img src="assets/img/new_page.png" alt="Translate New page" class="img-responsive img-thumbnail" />
                    
                    <div class="gap30"></div>
                    
                    <p>
                    	<a href="http://wpml.org/documentation/translating-your-contents/displaying-untranslated-content-using-content-duplication/" target="_blank">Here's how to easily duplicate your existing content!</a>
                    </p>

                </div>
            
            </div><!-- row end -->
            
        </div><!-- container end -->
    
    </section><!-- end -->
    
    
    <section id="k-s-extended-translation" class="section-space30"><!-- start -->
    
    	<div class="container"><!-- container start -->
            
        	<div class="row"><!-- row start -->
            
                <div class="col-lg-12">
                    <h3>Extended translation</h3>
                    <p class="k-excerpt">How to translate custom post types and taxonomies?</p>
                    <hr />
                </div>
                
                <div class="col-lg-12">
                	<div class="gap30"></div>
                    <p>
                    	KLEO comes with extra custom post types such as portfolios and testimonials, and custom taxonomies. In order to get a similar interface for translation/duplication as for posts and pages, you need to go to:
                    </p>
                    <p>
                        <strong>WPML->Translation Management</strong>
                    </p>
                    <p>
                        ...and select the tab "Multilingual Content Setup".
                    </p>

                </div>
            
            </div><!-- row end -->
        
        </div><!-- container end -->
    
    </section><!-- end -->
    
    
    <section id="k-s-translating-menus" class="section-space30"><!-- start -->
    
    	<div class="container"><!-- container start -->
            
        	<div class="row"><!-- row start -->
            
                <div class="col-lg-12">
                    <h3>Translating Menus and Language Switcher in Header</h3>
                    <hr />
                </div>
                
                <div class="col-lg-12">
                
                	<div class="gap30"></div>
                    
                    <p>
                    	WPML can synchronize menus for you. This means that if some entries, for example some pages, posts or categories, are in the English menu, WPML can generate and keep in synch menus for other languages pointing to the translated versions of these pages, posts or categories.
                    </p>
                    
                    <p>
                    From WordPress <strong>Appearance->Menus</strong> you can see your existing menus and add menu translations and synchronize menus across translations.
                    </p>
                    
                    <p>
                    To show the language switcher in the header you need to activate it from Theme options – Header options.
                    </p>
                    
                    <div class="gap30"></div>
                    
                    <div class="col-lg-12">
                        <img src="assets/img/language_switch.png" alt="Language Switch" class="img-responsive img-thumbnail" />
                    </div>

                </div>
            
            </div><!-- row end -->
        
        </div><!-- container end -->
    
    </section><!-- end -->
    
    
    <section id="k-s-translating-theme-texts" class="section-space30"><!-- start -->
    
    	<div class="container"><!-- container start -->
            
        	<div class="row"><!-- row start -->
            
                <div class="col-lg-12">
                    <h3>Translating Theme texts</h3>
                    <p class="k-excerpt">...and other strings in your site!</p>
                    <hr />
                </div>
                
                <div class="col-lg-12">
                
                	<div class="gap30"></div>
                    
                    <p>
                    	To translate strings you need to follow the procedure for <a href="http://wpml.org/documentation/getting-started-guide/theme-localization/" target="_blank">Theme and Plugin Localization</a>. Go to:
                    </p>
                    
                    <p>
                    <strong>WPML->Theme and Plugin Localization</strong>
                    </p>
                    
                    <p>
                    
                    ...and click on "Scan the theme for strings" and you will see theme strings and which ones are translated or not.
                    </p>
                </div>
            
            </div><!-- row end -->
        
        </div><!-- container end -->
    
    </section><!-- end -->
    
    <section id="k-s-footer" class="section-space30"><!-- footer start -->
    
    	<div class="container text-center"><!-- container start -->
        
        	<div class="row"><!-- row start -->
            
            	<div class="col-lg-12">
            
                    <p class="text-center">
                    	<small>Sofarider 2015</small>
                    </p>
                
                </div>
               
           </div><!-- row end -->
        
        </div><!-- container end -->
        
    </section><!-- footer end -->

	<!-- javascript -->
    <script src="assets/js/jquery-1.10.1.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script><!-- Bootstrap JS -->
    <script src="assets/js/prettify.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/docs.js"></script>
    
</body>
</html>