body { -webkit-font-smoothing: antialiased; font-weight: 400; font-size: 16px; color: #666; line-height: 24px; overflow-x: hidden; -ms-overflow-x: hidden; }
body,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Open Sans', 'Helvetica', sans-serif !important; } 

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #444; }
h1 small, h2 small, h3 small { letter-spacing: normal; }

/* links */
a:hover, a:focus { color: #222; }
a, a:link { text-decoration: none; -webkit-transition: all 0.15s ease-in-out 0s; -moz-transition: all 0.15s ease-in-out 0s; -o-transition: all 0.15s ease-in-out 0s; transition: all 0.15s ease-in-out 0s; }
a:active, a:focus { outline: none; }

/* navig */
.navbar-nav > li > a { font-size: 12px; font-weight: 500; }

/* text inverted */
.text-inverted { color: #363636; }
.text-inverted a { color: #ebe8e3; }
.text-inverted a:hover, .text-inverted a:focus { color: #FFFFFF; }
.text-inverted h1, .text-inverted h2, .text-inverted h3, .text-inverted h4, .text-inverted h5, .text-inverted h6,
.text-inverted h1 a, .text-inverted h2 a, .text-inverted h3 a, .text-inverted h4 a, .text-inverted h5 a, .text-inverted h6 a { color: #363636; }

/* text lightened */
.text-light { color: #b7b7b7; }
.text-light a { color: #ebe8e3; }
.text-light a:hover, .text-light a:focus { color: #FFFFFF; }
.text-light h1, .text-light h2, .text-light h3, .text-light h4, .text-light h5, .text-light h6,
.text-light h1 a, .text-light h2 a, .text-light h3 a, .text-light h4 a, .text-light h5 a, .text-light h6 a { color: #F1F1F1; }
.bg-light { background-color: #FFF; }

/* quotes */
blockquote, blockquote p { font-size: 17px; font-style: italic; }
blockquote { padding-left: 40px; }
blockquote.pull-right { padding-right: 40px; }
label { font-weight: 500; font-size: 12px; }

/* lists styling  */
.ul-centered { float: left; left: 50%; position: relative; }
.ul-centered > li { position: relative; display: inline; float: left; right: 50%; }
.ul-inline li { float: left; list-style-position: inside; padding: 5px 10px 0 0; }
li { line-height: 25px; }
.k-dl-list { margin: 0; }
.k-dl-list dt, .k-dl-list dd { line-height: inherit; }
.k-dl-list dd { margin-bottom: 30px; }
.k-dl-list dd:last-child { margin-bottom: 0; }
.k-dt { float: left; }
.k-dd30 { margin-left: 30px; }
.k-dd60 { margin-left: 60px; }
.k-dd80 { margin-left: 80px; }
.k-dd100 { margin-left: 100px; }

/* content */
#k-s-footer { background-color: #F9F9F9; border-top: 3px solid #F1F1F1; }
#k-s-top { background-color: #F9F9F9; border-bottom: 3px solid #F1F1F1; }

/* content spacing */
.marged-navbar { margin-top: 50px; }
.gap10, .gap30, .gap60, .gap80, .gap100 { display: block; width: 100%; clear: both; }
.gap10 { height: 10px; }
.gap30 { height: 30px; }
.gap60 { height: 60px; }
.gap80 { height: 80px; }
.gap100 { height: 100px; }
.k-relative-wrap { position: relative; }
.separator-20 { display: block; width: 10%; height: 5px; margin: 50px 0; clear: both; background-color: #F1F1F1; border-radius: 10px; }
.hr30 { margin: 30px 0 20px; }
.hr50 { margin: 50px 0 40px; }
.dotted { border-style: dotted; }
.border-right { border-right: 1px solid #F1F1F1; }
.border-left { border-left: 1px solid #F1F1F1; }
small { font-size: 12px; line-height: 18px !important; }

/* text coloring and shadowing */
strong { font-weight: 500; }
.thined { font-weight: 100 !important; }
.text-shadow-light { text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.25); }
.text-shadow-dark { text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25); }
.k-call-out { font-size: 25px; line-height: 36px; margin-bottom: 40px; }
.k-call-out em { font-weight: 500; font-style: normal; }
.k-excerpt { font-size: 18px; margin: 20px 0; line-height: 26px; }

/* margins */
.space-left20 { margin-left: 20px !important; }
.space-right20 { margin-right: 20px !important; }
.space-left40 { margin-left: 40px !important; }
.space-right40 { margin-right: 40px !important; }

/* margins remove */
.first-item { margin-top: 0 !important; }
.last-item { margin-bottom: 0 !important; }

/* image alignment and borders */
figure { margin: 0; padding: 0; position: relative; }
img.alignleft, .alignleft { float: left; margin-right: 20px; }
img.alignright, .alignright { float: right; margin-left: 20px; }
img.aligncenter, .aligncenter, img.alignnone, .alignnone  { display: block; margin: 0 auto; clear: both; }
img.alignleft, .alignleft, img.alignright, .alignright { display: inline; margin-top: 0; }
img.alignleft, img.aligncenter, img.alignright { margin-bottom: 20px; }

/* content spacers */
.section-space20 { padding-top: 20px; padding-bottom: 20px; }
.section-space30 { padding-top: 30px; padding-bottom: 30px; }
.section-space50 { padding-top: 50px; padding-bottom: 50px; }
.section-space60 { padding-top: 60px; padding-bottom: 60px; }
.section-space80 { padding-top: 80px; padding-bottom: 80px; }
.section-space100 { padding-top: 100px; padding-bottom: 100px; }

/* fancy unit; title, text and action button */
.fancy-unit { background-color: #F9F9F1; border-left: 10px solid #41C28B; }
.fancy-unit-text { padding-right: 200px; position: relative; }
.fancy-unit-image { position: absolute; top: 0; right: 0; }

/* to top button */
#k-to-top { display: none; font-size: 12px; text-align: center; line-height: 35px; width: 35px; height: 35px; position: fixed; right: 20px; top: 0; background-color: #000; z-index: 99999; opacity: 0.7; cursor: pointer; -webkit-transition: opacity 0.15s ease-in-out 0s; -moz-transition: opacity 0.15s ease-in-out 0s; -o-transition: opacity 0.15s ease-in-out 0s; transition: opacity 0.15s ease-in-out 0s; }
#k-to-top:hover { opacity: 1; }

/* forms */
.form-group { margin-bottom: 15px; }
.form-group textarea { line-height: 22px; }
.radio label, .checkbox label { font-size: 12.5px; }
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus,
input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus,
input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus,
input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus,
.uneditable-input:focus { outline: 0; outline: thin dotted \9; /* IE6-9 */ }
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], 
input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], 
input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], 
.uneditable-input { font-weight: 300; }

/* tabs & pills */
.nav-tabs { margin-bottom: 20px; border-bottom: 4px solid #F1F1F1; }
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus { border-color: #F1F1F1 #F1F1F1 transparent; }
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus { border-color: #F1F1F1 #F1F1F1 transparent; }
.nav-tabs > li { margin-bottom: -4px; }
.nav-tabs > li > a { border-radius: 0; font-weight: bold; font-size: 14px; }
.tabs-left > .nav-tabs > li > a { border-radius: 0; }
.nav-pills { margin-bottom: 27px; }
.nav-pills > li > a { padding: 5px 15px; }

/* accordion */
.panel-group .panel { border-radius: 0 !important; box-shadow: none; }
.panel-group .panel-heading { background-color: #F9F9F9; }
.panel-title > a { display: block; }
.k-faq-icon { position: absolute; left: 2px; top: 6px; }
.k-faq-wrap .panel { border: none; }
.k-faq-wrap .panel-heading, .k-faq-wrap .panel-default > .panel-heading { background-color: transparent; padding: 0; }
.k-faq-wrap .panel-title:before { content: "Q:\00a0\00a0\00a0"; float: left; font-weight: 800; }
.k-faq-wrap .panel-title { font-size: 18px; font-weight: 300; line-height: inherit; color: inherit; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px dotted #DDD; }
.k-faq-wrap .panel-body { position: relative; }
.k-faq-wrap .panel-body, .k-faq-wrap .panel-group .panel-heading + .panel-collapse .panel-body { border: none; padding: 0 0 30px 30px; }
#k-sidebar .panel-title { font-size: 14px; }

/* list group */
.list-group-item:first-child, .list-group-item:last-child { border-radius: 0; }
.list-group-item.active .list-group-item-text, .list-group-item.active:hover .list-group-item-text, .list-group-item.active:focus .list-group-item-text { color: #EBE8E3; }

/* popover & tooltip */
.popover { border-radius: 0; z-index: 999999; }
.popover-title { font-weight: 700; font-size: 13.5px; text-transform: uppercase; }
.popover-content { font-size: 12.5px; line-height: 20px; padding: 10px 15px 15px 15px; }
.tooltip-inner { border-radius: 0; }

/* alert */
.alert { border-radius: 0; }

/* labels, badges, progress bars, text */
.label, .badge, .progress { border-radius: 0; }
.label-primary { background-color: #2f8bc1 !important; }
.label-success, .progress-bar-success { background-color: #30CB8B !important; }
.label-info, .progress-bar-info { background-color: #a564bf !important; }
.label-warning, .progress-bar-warning { background-color: #F5A610 !important; }
.label-danger, .progress-bar-danger { background-color: #EA5644 !important; }
.text-primary { color: #2f8bc1 !important; }
.text-success { color: #30CB8B !important; }
.text-info { color: #a564bf !important; }
.text-warning { color: #F5A610 !important; }
.text-danger { color: #EA5644 !important; }

/* tables */
.table-bordered { border-radius: 0; }

/* carousel */
article .carousel { border-bottom-style: solid; border-bottom-width: 5px; }
.carousel-indicators { left: inherit; right: 20px; top: 20px; bottom: inherit; height: inherit; width: inherit; margin: 0; }
.carousel-indicators li, .carousel-indicators .active { height: 15px; width: 15px; border-width: 2px; margin: 1px; }
.carousel-indicators li { background-color: rgba( 0,0,0, 0.1 ); } 
.carousel-indicators .active { opacity: 0.7; }
.carousel-control.right, .carousel-control.left { background: none; }
.carousel-inner > .item { -webkit-transition: 0.3s ease-in-out left; -moz-transition: 0.3s ease-in-out left; -o-transition: 0.3s ease-in-out left; transition: 0.3s ease-in-out left; }

/* responsive videos */
.video-container { margin-bottom: 10px; }

/* buttons */
.btn { border-radius: 2px; box-shadow: none; background-image: none; background-repeat: no-repeat; border-color: transparent; }
.btn:hover, .btn:focus { -webkit-transition: all 250ms ease-out 0s; -moz-transition: all 250ms ease-out 0s; -o-transition: all 250ms ease-out 0s; transition: all 250ms ease-out 0s; border: 1px solid transparent; }
.btn-primary, .btn-default, .btn-success, .btn-info, .btn-warning, .btn-danger, .btn-link { background-image: none; background-repeat: no-repeat; border-color: transparent; }
.btn-default { color: #FFF !important; }
.btn-default:hover, .btn-default:focus { background-color: #444 !important; }
.btn-primary { background-color: #2f8bc1 !important; }
.btn-primary:hover,.btn-primary:focus { background-color: #23668e !important; }
.btn-success { background-color: #30CB8B !important; }
.btn-success:hover,.btn-success:focus { background-color: #1E865B !important; }
.btn-info { background-color: #a564bf !important; }
.btn-info:hover,.btn-info:focus { background-color: #824e97 !important; }
.btn-warning { background-color: #F5A610 !important; }
.btn-warning:hover,.btn-warning:focus { background-color: #C38309 !important; }
.btn-danger { background-color: #EA5644 !important; }
.btn-danger:hover,.btn-danger:focus { background-color: #B64335 !important; }
.btn-link { background-color: #FFF !important; }
.btn-link:hover,.btn-link:focus { background-color: #FFF !important; }
.form-search .btn { margin-left: -3px; background-color: steelblue; color: #FFF; text-shadow: none; }
#k-footer .btn-default { background-color: #444 !important; }
#k-footer .btn-default:hover, #k-footer .btn-default:focus { background-color: #111 !important; }

/* help */
.help-block, .help-inline { font-size: 13px; line-height: 17px; }

/* address */
address { line-height: 28px; }

/* fancy title */
.k-fancy-title { margin-top: 30px; margin-bottom: 20px; }
.k-fancy-title-wrap { border-top: 1px solid #ebe8e3; position: relative; }
.k-fancy-title-tit { display: block; position: absolute; width: 70px; height: 5px; top: -5px; left: 0; }
.text-right .k-fancy-title-tit { right: 0; left: inherit; }
.text-center .k-fancy-title-tit { left: 50%; margin-left: -35px; }
.k-widget-title-tit { display: block; position: absolute; width: 30px; height: 3px; top: -10px; left: 0; }

/* Responsive
-------------------------------------------------- */

/* Large desktop */
@media (min-width: 980px) and (max-width: 1199px) {
	
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.mq-box { margin-bottom: 40px; }
	.fancy-unit-text { padding-right: 0; }
	.fancy-unit-image { position: inherit; margin-top: 20px; }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {	
	.mq-box { margin-bottom: 40px; }
	.fancy-unit-text { padding-right: 0; }
	.fancy-unit-image { position: inherit; margin-top: 20px; }
}
/* Landscape phones and down */
@media (max-width: 480px) {
	.mq-box { margin-bottom: 40px; }
}